.ContentUploadContainer{
    width: 90%;
    background-color: #f6f2ef;
    height: 23vh;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.contentWriting{
    width: 29pc;
    margin-left: 10px;
    margin-top: 10px;
    height: 4vh;
    border: none ;
    background-color: #f6f2ef;

}

.profileiconimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 5px;
}

.icons{
    width: 25px;
    height: 24px;
    margin-left: 10px;
    margin-top: 49px;
}