.PostContainer{
    
}

.SubPostContainer{
    width: 93%;
    background-color: #f6f2ef;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
}

.postImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.postImages{
    width: 450px;
    height: 450px;
    object-fit: contain;
    border-radius: 10px;
}

.iconsforpost{
    width: 20px;
    
}

.moreoptionsicon{
    width: 20px;
    margin-left: 350px;

}